html {
  min-height: 100%;
}

body {
  min-height: 100%;
  padding: 8px;
  margin: 8px;
  background: #f0f0f0;
  font-family: "Poppins";
  color: #444;
  text-align: start;
  align-content: start;
}

a {
  display: block;
  padding: 0 8px;
  color: #2638c4;
  text-decoration: none;
}

.site-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 4px solid #888;
  padding-bottom: 4px;
}

.site-title, .site-tagline, .nav-link {
  color: #666;
}

.site-title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #666;
}

.site-tagline {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 0 16px;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin-left: auto;
}

.nav-link-container {
  align-items: center;
}

.nav-link {
  display: inline;
  font-size: 16px;
  font-weight: 400;
  padding: .8rem;
}

.main-container {
  justify-content: space-around;
  padding: 16px;
  margin-bottom: 8px;
}

.page-title {
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  margin-top: 0;
  margin-bottom: .5rem;
}

.item {
  margin-bottom: 20px;
  display: flex;
  align-items: left;
  border: 2px solid #333;
  border-radius: 15px;
  padding: 15px;
  padding-right: calc(15px + 36px);
  box-shadow: 0px 16px 36px 0px rgba(0,0,0,0.75);
}
