<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Simple News Now</title>
    <link rel="stylesheet" href="/css/styles.css">

    <!--Font family, Poppins-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!--Font family, Lato -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="site-head">
        <a class="site-title" href="/">SNN</a>
        <div class="site-tagline">
          <p>Simple News Now — Here when you need it.</p>
        </div>
        <div class="navbar">
          <div class="nav-link-container">
            <a class="nav-link" href="/top_headlines">Top Headlines</a>
            <a class="nav-link" href="/random">Random</a>
            <a class="nav-link" href="/search">Search</a>
          </div>
        </div>
      </div>
    </header>
    <div class="main-container">
      <%= yield %>
    </div>
  </body>
</html>
